.order-status-wrapper {
    width: 940px;
    height: 140px;
    margin: 30px auto 0;
    position: relative;
    top: 1px;
    z-index: 2;
    overflow: hidden;
}

.order-status-process {
    width: 745px;
    height: 38px;
    margin: 35px auto 0;
    position: relative;
    background: url(./img/order-process.png) 0 -307px repeat-x;
    background-image: image-set(url(./img/order-process.png) 1x,url(./img/order-process@2x.png) 2x);
}

.status-process {
    display: block;
    height: 38px;
    background: url(./img/order-process.png) 0 -257px repeat-x;
    background-image: image-set(url(./img/order-process.png) 1x,url(./img/order-process@2x.png) 2x);
}

.order-status-text {
    position: absolute;
    left: 0;
    top: -33px;
    width: 200px;
    height: 140px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    color: #666;
}
.order-status-text h5,p{
    margin: 0
}
.status-on span.point {
    background: url(./img/order-process.png) 0 -8px no-repeat;
    background-image: image-set(url(./img/order-process.png) 1x,url(./img/order-process@2x.png) 2x);
}
.status-done span.point {
    background: url(./img/order-process.png) 0 -105px no-repeat;
    background-image: image-set(url(./img/order-process.png) 1x,url(./img/order-process@2x.png) 2x);
}
.status-first span.point {
    display: block;
    width: 38px;
    height: 38px;
    margin: 18px auto 5px;
    background: url(./img/order-process.png) 0 -55px no-repeat;
    background-image: image-set(url(./img/order-process.png) 1x,url(./img/order-process@2x.png) 2x);
}
.status-last .point {
    background: url(./img/order-process.png) 0 -205px no-repeat;
    background-image: image-set(url(./img/order-process.png) 1x,url(./img/order-process@2x.png) 2x);
}
.point {
    background: url(./img/order-process.png) 0 -155px no-repeat;
    background-image: image-set(url(./img/order-process.png) 1x,url(./img/order-process@2x.png) 2x);
    display: block;
    width: 38px;
    height: 38px;
    margin: 18px auto 5px;
}
.order-process .order-status-text {
    position: absolute;
    left: 0;
    top: -33px;
    width: 200px;
    height: 140px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    color: #666;
}

#orderinfo {
	height: 200px;
    border: 1px solid #DADADA;
    padding: 0 5px 10px;
    background: #EDEDED;
    overflow: visible;
}
#orderinfoDetail {
	height: 600px;
    border: 1px solid #DADADA;
    padding: 0 5px 10px;
    background: #fff;
    overflow: visible;
}
.lable_style1 {
    float: left;
    width: 35%;
    height: 30px;
    line-height: 10px;
    margin: 5px 5px 0px 0px;
    text-align: right;
    font-weight: normal;
    overflow: hidden;
    font: 14px/1.5 "Hiragino Sans GB", "Microsoft YaHei", sans-serif,tahoma,arial,\5b8b\4f53;
}
.lable_style2 {
    float: left;
    width: 35%;
    height: 30px;
    line-height: 10px;
    margin: 5px 5px 0px 0px;
    text-align: left;
    font-weight: normal;
    overflow: hidden;
    font: 14px/1.5 "Hiragino Sans GB", "Microsoft YaHei", sans-serif,tahoma,arial,\5b8b\4f53;
}
#orderinfo .mc{
	height:20%;
    padding: 5px 8px;
    background: #fff;
    overflow: visible;
    font: 14px/1.5 "Hiragino Sans GB", "Microsoft YaHei", sans-serif,tahoma,arial,\5b8b\4f53;
}
#orderinfo .mc2{
	height:40%;
    padding: 5px 8px;
    background: #fff;
    overflow: visible;
}

#orderinfo .mc carinfo {
    padding: 10px 5px;
    border-top: 1px solid #EDEDED;
}

.tabsUl {
	text-align: left;
    width: 100%;
    display: table;
    border-width: 0px 0px;
    position: relative;
    background: #03A9F4;
}
.waybillDetail_l {
    width: 489px;
    display: table-cell;
}

.panel.exDtl_tabsCon>.waybillDetail_l {
    padding-left: 80px;
}
div.routeList {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.routeList dt:first-child {
    color: #333;
}
.routeList>dd:last-child {
    border-left: 0;
}
.routeList>dt:last-child {
    color: #333;
}
.routeList dt {
    width: 104px;
    background: #fff;
    float: left;
    line-height: 16px;
    color: #999;
}
.routeList dd {
    line-height: 16px;
    margin-left: 104px;
    padding-left: 20px;
    padding-bottom: 20px;
    color: #999;
    position: relative;
    border-left: #d8d8d8 solid 2px;
}
.routeList dd.current {
    color: #32bd81;
}
i.routeNode {
    width: 12px;
    height: 16px;
    background: url(./img/icon12.png);
    position: absolute;
    top: 0px;
    left: -7px;
    display: inline-block;
}
.routeList dd time {
    font-size: 10px;
    color: #999;
    line-height: 28px;
    display: block;
}
.routeList dd.current>i {
    background-position: 0 -16px;
}
.routeList dd>a {
    color: #c00;
    cursor: pointer;
    display: inline-block;
}

.routeList>dd:last-child i.routeNode{
	left: -5px
}
