@media(max-width:980px) {
    .frame_body {
        overflow-x: scroll;
    }
}

.tms_body {
    width: 93%;
}

.tms_group {
    float: left;
    width: 100%;
    padding-bottom: 12px;
    border-top: 1px solid #DEDEDE;
}
.tms_group_t {
    float: left;
    width: 100%;
    height:200px;
    padding-bottom: 2px;
    border-bottom: 1px solid #DEDEDE;
}

.tms_row {
    width: 100%;
    min-width: 970px;
    position: relative;
    min-height: 1px;
    float: left;
}

.tms_modal_group {
    float: left;
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid #DEDEDE;
}

.tms_modal_group_bottom {
    float: left;
    width: 100%;
    padding-bottom: 2px;
}

.tms_modal_row {
    width: 100%;
    min-width: 640px;
    position: relative;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    float: left;
}

.tms_modal_group > .tms_modal_row:nth-of-type(odd),
.tms_modal_group_bottom > .tms_modal_row:nth-of-type(odd){
    background-color: #f9f9f9;
}

.tms_col_4{
    position: relative;
    min-height: 1px;
    float: left;
}

.tms_col_4{
    min-width: 150px;
    width: 25%;
}

.tms_lable_style1, .tms_lable_style2, .tms_lable_style22, .tms_1word_lable_style,
.tms_lable_style3, .tms_lable_style4, .tms_lable_style5, .tms_lable_style6, .tms_lable_style7, .tms_lable_style8{
    float: left;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
}
.tms_lable_style4, .tms_lable_style5, .tms_lable_style6, .tms_lable_style7, .tms_lable_style8{
    height: 27px;
    line-height: 27px;
}
.tms_lable_style1, .tms_lable_style3{
    margin: 10px 10px 0px 0px;
}

.tms_lable_style2, .tms_lable_style22, .tms_1word_lable_style{
    margin: 10px 10px 0px 12px;
}

.tms_lable_style1, .tms_lable_style2, .tms_lable_style22, .tms_1word_lable_style,
.tms_lable_style4{
    text-align: right;
}

.tms_lable_style3, .tms_lable_style5, .tms_lable_style6, .tms_lable_style7, .tms_lable_style8{
    text-align: left;
}

.tms_lable_style1 {
    width: 35%;
}

.tms_lable_style2 {
    width: 70px;
}
.tms_lable_style22 {
    width: 100px;
}

.tms_1word_lable_style {
    width: 10px;
}

.tms_lable_style3 {
    width: 70px;
}

.tms_lable_style4 {
    width: 14%;
    margin: 1px 0px;
}

.tms_lable_style5 {
    width: 16%;
    margin: 1px 0px;
}

.tms_lable_style6 {
    width: 80%;
    margin: 1px 0px;
}

.tms_lable_style7 {
    width: 10%;
    overflow: hidden;
    margin: 1px 0px;
}

.tms_lable_style8 {
    width: 30%;
    margin: 1px 0px;
}

.tms_input_style1 {
    float: left;
    width: 60%;
    margin: 10px 0px 0px 0px;
}

.tms_input_style2 {
    float: left;
    width: 65%;
    max-width:150px;
    min-width: 130px;
    margin: 10px 0px 0px 0px;
}

.tms_input_style3 {
    float: left;
    width: 64%;
    margin: 10px 0px 0px 0px;
}
.tms_input_style4 {
    float: left;
    width: 5%;
    margin: 10px 0px 0px 0px;
}
.tms_lable_style_44 {
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    font-weight: normal;
}

.button_lable {
    float: left;
    height: 30px;
    margin: 10px 45px;
}

.button_lable_r {
    float: right;
    height: 30px;
    min-width: 260px;
    margin: 10px 0px;
}

.ibox-content {
    float: left;
    width: 100%;
    padding-top: 13px;
    text-align: left;
    border-top: solid 1px #DEDEDE;
}

.tms_button {
    width: 100px;
    height: 35px;
    margin-left: 20px;
    float: left;
    padding: 0px;
}

.tms_radio_style {
    float: left;
    width: 60%;
    height: 30px;
    line-height: 30px;
    margin: 10px 10px 0px 0px;
    text-align: left;
    font-weight: normal;
}

.tms_checkbox_col {
    width: 90%;
}

.tms_checkbox_col label {
    height: 30px;
    line-height: 30px;
    margin: 10px 15px 0px 0px;
    font-weight: normal;
}

.clear_button {
    width: 50px;
    height: 20px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
}

.clear_button_disable {
    background-color: darkgray;
    border-color: darkgray;
    color: #FFFFFF;
}

.clear_button:hover,
.clear_button:link {
    text-decoration: none;
}

.tms_keyText {
    font-weight: bold;
    font-size: 1.5em;
    color: #f00;
}

.tms_lable_titile {
    float: left;
    height: 25px;
    line-height: 25px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
    margin: 5px 0px 0px;
}

.tms_lable_title2 {
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
    margin: 5px 0px 0px;
}

.tms_modal_body {
    position: relative;
    margin: 0px 20px;
}
.span_status {
    display: inline;
    padding: .2em .10em .3em;
    font-size: 20px;
    line-height:3;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    color: black;
	background-color: gainsboro;
}

red {
    color: red;;
}

.logout{
    height: 45px;
    line-height: 45px;
    font-size : 15px;
    color: white;
    margin-right:15px;
    cursor: pointer;
}

.inner-bg {
    padding: 75px 0 170px 0;
}

.form-box {
    margin-top: 35px;
    padding: 0px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    box-shadow:3px 3px 3px gray
}

.form-top {
    overflow: hidden;
    padding: 0 25px 0px 25px;
    background: rgba(211,211,211,0.5);
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-left h3 {
    margin-top: 0;
    color: grey;
    font-family: "Microsoft YaHei"
}

.form-top-left p {
    opacity: 0.8;
    color: grey;
    font-family: "Microsoft YaHei";
    margin: 25px 0 10px;
}

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #fff;
    line-height: 100px;
    text-align: right;
    opacity: 0.3;
}

.form-bottom {
    padding: 0px 25px 30px 25px;
    background: rgba(211,211,211,0.5);
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    text-align: left;
}

.tms_body a{
    cursor:pointer;
}

div#map {
     margin: 5px;
     width: 500px;
     height: 500px;
 }