.search-psheet-div{
	float: left;
	width: 100%;
	padding-bottom: 20px;
}

.ope-div{
	float: left;
	width: 100%;
	padding-bottom: 20px;
}

.lable_style{
	float:left;
	height:30px;
	line-height:30px;
	text-align:left;
	margin-right: 10px;
}

.input_style1{
	float:left;
	width:15%;
	margin-right: 15px;
}

.ope-btn{
	margin:0px 5px 0px 0px;
}

.ope-btn2{
	margin:0px 5px 0px 20px;
}

.sear-result-div{
	float: left;
	width: 100%;
}

.ope-btn1{
	border-radius:0px;
}

.bianji-btn{
	border-radius:0px;
}

.xuanze-btn{
	border-radius:0px;
}

.chakan-btn{
	border-radius:0px;
}

td{
	text-align: center;
}

th{
	text-align: center;
}

.modal-inpt1{
	float: left;
	width: 50%;
	margin-left: 10px;
}

.footer{
	text-align: left;
	padding: 19px 20px 20px;
}

.modal-row{
	padding-bottom: 10px;
	width: 100%;
	float: left;
}

.modal-span{
	float:left;
	height:30px;
	width: 20%;
	line-height:30px;
	text-align:left;
}

.pop-center{
	width: 600px;
	}

.modal-save-btn{
	border-color:#5BC0DE;
	background-color:#5BC0DE;
	color: white;
	margin-right: 10px;
}

.modal-cancel-btn{
	border-color:#F0AD4E;
	background-color:#F0AD4E;
	color: white;
}
